.gimp-2.8/dockrc
.gimp-2.8/gimprc
.gimp-2.8/gtkrc
.gimp-2.8/menurc
.gimp-2.8/parasiterc
.gimp-2.8/pluginrc
.gimp-2.8/profilerc
.gimp-2.8/sessionrc
.gimp-2.8/tags.xml
.gimp-2.8/templaterc
.gimp-2.8/themerc
.gimp-2.8/toolrc
.gimp-2.8/unitrc
.gimp-2.8/brushes/3d-blue-ball.gbr
.gimp-2.8/brushes/50x50cone.gbr
.gimp-2.8/brushes/50x50square.gbr
.gimp-2.8/brushes/50x50squareBlur.gbr
.gimp-2.8/brushes/50x50squareBlur2.gbr
.gimp-2.8/brushes/aspi.gbr
.gimp-2.8/brushes/balls.gih
.gimp-2.8/brushes/bigcircle.gbr
.gimp-2.8/brushes/bigcircle2.gbr
.gimp-2.8/brushes/bigcircle3.gbr
.gimp-2.8/brushes/bigcircle4.gbr
.gimp-2.8/brushes/bird.gbr
.gimp-2.8/brushes/bullethole.gbr
.gimp-2.8/brushes/claire.gbr
.gimp-2.8/brushes/cloth.gbr
.gimp-2.8/brushes/corner-ll-small55.gbr
.gimp-2.8/brushes/corner-ll53.gbr
.gimp-2.8/brushes/corner-lr-small55.gbr
.gimp-2.8/brushes/corner-lr53.gbr
.gimp-2.8/brushes/corner-ul-small55.gbr
.gimp-2.8/brushes/corner-ul53.gbr
.gimp-2.8/brushes/corner-ur-small55.gbr
.gimp-2.8/brushes/corner-ur53.gbr
.gimp-2.8/brushes/cross2_10.gbr
.gimp-2.8/brushes/cross2_20.gbr
.gimp-2.8/brushes/cross2_30.gbr
.gimp-2.8/brushes/cross2_40.gbr
.gimp-2.8/brushes/cross2_50.gbr
.gimp-2.8/brushes/cross2_60.gbr
.gimp-2.8/brushes/cross2_80.gbr
.gimp-2.8/brushes/cross2_99.gbr
.gimp-2.8/brushes/cross2_big.gbr
.gimp-2.8/brushes/cross3_10.gbr
.gimp-2.8/brushes/cross3_20.gbr
.gimp-2.8/brushes/cross3_30.gbr
.gimp-2.8/brushes/cross3_40.gbr
.gimp-2.8/brushes/cross3_50.gbr
.gimp-2.8/brushes/cross3_60.gbr
.gimp-2.8/brushes/cross3_80.gbr
.gimp-2.8/brushes/cross3_99.gbr
.gimp-2.8/brushes/cross3_big.gbr
.gimp-2.8/brushes/cross4_10.gbr
.gimp-2.8/brushes/cross4_20.gbr
.gimp-2.8/brushes/cross4_30.gbr
.gimp-2.8/brushes/cross4_40.gbr
.gimp-2.8/brushes/cross4_50.gbr
.gimp-2.8/brushes/cross4_60.gbr
.gimp-2.8/brushes/cross4_80.gbr
.gimp-2.8/brushes/cross4_99.gbr
.gimp-2.8/brushes/cross4_big.gbr
.gimp-2.8/brushes/developers.gih
.gimp-2.8/brushes/drovel140.gbr
.gimp-2.8/brushes/drovel240.gbr
.gimp-2.8/brushes/drovel340.gbr
.gimp-2.8/brushes/drovel440.gbr
.gimp-2.8/brushes/drovel540.gbr
.gimp-2.8/brushes/drovel648.gbr
.gimp-2.8/brushes/drovel748.gbr
.gimp-2.8/brushes/drovel848.gbr
.gimp-2.8/brushes/flower_large.gbr
.gimp-2.8/brushes/flower.gbr
.gimp-2.8/brushes/fooo.gbr
.gimp-2.8/brushes/gecko.gbr
.gimp-2.8/brushes/grid.gbr
.gimp-2.8/brushes/grid2.gbr
.gimp-2.8/brushes/grunge-1.gbr
.gimp-2.8/brushes/grunge-23.gbr
.gimp-2.8/brushes/grunge-310.gbr
.gimp-2.8/brushes/grunge-412.gbr
